:root{
    --mainColor:#24252a;
    --fsecondaryColor:#323335;
    --ndsecondaryColor:#0169fd;
    --fontsColor:#fff;
}
*{padding: 0;
margin:0;
}
/* start nav bar */
.navbar {
    background-color: var(--mainColor);
    color:var(--fontsColor);
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    z-index: 1;
}

.navbar-light .navbar-brand,.navbar-light .navbar-nav .nav-link {
    color:var(--fontsColor);
}
.navbar-light .navbar-nav .nav-link.active{
    color:var(--ndsecondaryColor);
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover 
,.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover  {
    color: var(--ndsecondaryColor);
}
form.d-flex button{
    background-color:var(--ndsecondaryColor);
    color:var(--fontsColor);
    
}
form.d-flex button:hover{
    background-color:#08326e;;
    color:var(--fontsColor);
    
}
.d-flex{
    position:relative;
}
.suggestions{
    position:absolute;
    top:100%;
    left:0;
    width:88.7%;
    /* height:10px; */
    z-index: 10;
    width:calc(100% - 99px);
    
    

}
.suggestions ul{
    list-style: none;
    width:100%;
    padding: 17px;
    color:#6c7585;
    padding: 0  ;
    
    
}
.suggestions ul li{
    padding:9px 17px;
    position: relative;
    background-color: white;
    border-radius: 5px;   
    
}
.suggestions ul li{
    cursor: pointer;
}
.suggestions ul li:hover{
    background-color: #ffffffe0;;
    color: #0169fd;
}
.suggestions ul li::before{
    z-index: 1;
    content: " ";
    position: absolute;
    left:0;
    top:100%;
    width:100%;
    height:1px;
    background-color: #bebec9;

}
.suggestions ul li:last-child{
    padding-bottom: 13px;

}
.suggestions ul li:last-child::before{
    display: none;

}

/* end navbar */
.landing{
    position:relative;
    width:100%;
    height: 100vh;
    z-index: -1;
    background-image: url(../images/bg.jpg);
    background-size: cover;
}
.overlay{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index: -1;

}
.main{
    width: 100%;
    padding:5%;
    position: absolute;
    color: var(--fontsColor);
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.speach{
    width: 434px;
    height: 366px;
}
.speach p:first-child{
    font-weight: 600;
    font-size: 70px;
    line-height: 4rem;
}
.speach p:last-child {
 
     line-height: 1rem;
 }
.speach p:last-child span{
   color:var(--ndsecondaryColor);
    line-height: 2rem;
}

.ads-window{
    position: relative;
    height:421px;
    width: 568px;
    padding:10px;
    background-color: #1c1c1e;
    overflow: hidden;
}
.ads-window div{
    position:absolute;
    top:10px;
    left:10px;
}
.ads-window div:first-child{
  
    left:570px;
}

.ads-window div{
   width:548px;
   height:401px;
   transition: all .4s linear;
   
}
.ads-window div:first-child{
}
.ads-window img{
    height:100% ;
    width:100%;
    left:570px;
    
}

.ads-window img{
    height:100% ;
    width:100%;
    
}
@media  (max-width: 1200px) {
    .ads-window {
      display:none;
    }
    .main{
    justify-content: space-around;
    }
  }